.history {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.history__header > h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #a8a8a8;
  color: #313131;
}

.history__body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 260px;
  overflow-y: auto;
  scrollbar-color: #013b92 #ffffff;
  scrollbar-width: thin;
}

.history__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
  box-shadow: 2px 6px 6px -3px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 2px 6px 6px -3px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 6px 6px -3px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.history__item:hover > .history__delete {
  left: 50%;
}

.history__delete {
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: #ffa6a6;
  top: 0;
  left: -40px;
  transition: all 0.5s ease;
}

.history__delete > .cross {
  position: inherit;
  top: 20px;
  left: 7px;
}

.history__delete > .cross > .cross1 {
  position: inherit;
  background-color: #ff0000;
  width: 30px;
  height: 3px;
  transform: rotate(45deg);
}

.history__delete > .cross > .cross2 {
  position: inherit;
  background-color: #ff0000;
  width: 30px;
  height: 3px;
  transform: rotate(-45deg);
}

.cash__add {
  border-right: 2px solid green;
}

.money__expense {
  border-right: 2px solid red;
}
